$color_body_bg: rgb(235,235,235);
$color_text_light: rgb(255,255,255);
$color_text_lighter: rgb(204,204,204);
$color_text_darker: rgb(145,154,168);
$color_text_dark: rgb(161,161,161);
$color_text_darkest: rgb(37,37,37);
$color_border_light: rgb(74,89,112);
$color_navbar_bg: rgb(49, 66, 92);
$color_subbar_bg: rgb(61,77,103);
$color_narrow_bg: rgb(25,158,217);
$color_topnav_border: rgb(214,214,214);
$color_green: rgb(168,205,167);
$color_blue: rgb(25,158,217);
$color_orange: rgb(240,158,136);
$color_gray: rgb(233,233,233);
$color_dark_gray: rgb(181,189,198);
$color_grayish_blue: rgb(225,232,238);